.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# But explicitly include the DuckDB modules
!**/node_modules/@duckdb/node-api/**
!**/node_modules/@duckdb/node-bindings-darwin-arm64/**
!**/node_modules/@duckdb/node-bindings-darwin-x64/**
!**/node_modules/@duckdb/node-bindings-linux-arm64/**
!**/node_modules/@duckdb/node-bindings-linux-x64/**
!**/node_modules/@duckdb/node-bindings-win32-x64/**